@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-50 text-gray-900 transition-colors duration-300;
}

.dark body {
  @apply bg-gray-950 text-gray-100;
}

::selection {
  background-color: theme("colors.indigo.200");
  color: theme("colors.indigo.900");
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
}
